@use '../../styles/mixins.scss';
@use '../../styles/variables.scss';

.content {
  display: grid;
  grid-template: '. . . .';
  grid-template-columns: 1fr 4fr 2fr 1.5fr;
  align-items: center;
  background: variables.$neutral-background;
  padding: variables.$simple-margin;
  border-radius: variables.$ui-border;
  max-width: 400px;
  margin: variables.$simple-margin;

  .count {
    background: variables.$neutral-light;
    width: 1.5rem;
    border-radius: variables.$ui-border;
    margin-right: variables.$simple-margin;
    text-align: center;
    font-size: 1.5rem;
  }

  .item {
    font-size: 1.5rem;
  }

  .price {
    text-align: right;
  }

  input {
    width: 100%;

    &.price {
      text-align: left;
    }
  }

  .button {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: variables.$ui-border;
    margin-left: variables.$simple-margin;
  }

  .error {
    color: variables.$pin-highlight;
    text-align: center;
  }
}
